*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1475924156734-496f6cac6ec1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1rem;
    text-align: center;
    color: aliceblue;
}

.clock {
    position: relative;
    display: flex;
    gap: 1rem;
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: slateblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: darkblue;
    opacity: .8;
}

.clock #ampm {
    position: absolute;
    bottom: 0;
    width: 60px;
    height: 30px;
    font-size: 1.25rem;
    background-color: rgba(250, 1, 250, 0.7);
}
